includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
    tmpDir: build/phpstan
    checkModelProperties: true
    checkOctaneCompatibility: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    scanDirectories:
        - vendor/laravel/framework/src
        - vendor/spatie/laravel-permission/src
        - vendor/maatwebsite/excel/src
    universalObjectCratesClasses:
        - Illuminate\Support\Fluent
    stubFiles:
        - build/phpstan/stubs/laravel-stubs.php
